@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  font-style: normal;
  src: local('Roboto'), url("../../assets/fonts/Roboto-Black.ttf") format('opentype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  font-style: italic;
  src: local('Roboto'), url("../../assets/fonts/Roboto-BlackItalic.ttf") format('opentype');

}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  src: local('Roboto'), url("../../assets/fonts/Roboto-Bold.ttf") format('opentype');

}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: italic;
  src: local('Roboto'), url("../../assets/fonts/Roboto-BoldItalic.ttf") format('opentype');

}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: italic;
  src: local('Roboto'), url("../../assets/fonts/Roboto-Italic.ttf") format('opentype');

}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: normal;
  src: local('Roboto'), url("../../assets/fonts/Roboto-Light.ttf") format('opentype');

}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: italic;
  src: local('Roboto'), url("../../assets/fonts/Roboto-LightItalic.ttf") format('opentype');

}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  src: local('Roboto'), url("../../assets/fonts/Roboto-Medium.ttf") format('opentype');

}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: italic;
  src: local('Roboto'), url("../../assets/fonts/Roboto-MediumItalic.ttf") format('opentype');

}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: local('Roboto'), url("../../assets/fonts/Roboto-Regular.ttf") format('opentype');

}

@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  font-style: normal;
  src: local('Roboto'), url("../../assets/fonts/Roboto-Thin.ttf") format('opentype');

}

@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  font-style: italic;
  src: local('Roboto'), url("../../assets/fonts/Roboto-ThinItalic.ttf") format('opentype');
}