.suggestions {
  position: absolute;
  width: 100%;
  top: calc(100% + 20px);
  border-radius: 20px;
  left: 0;
  padding: 20px;
  background: rgba(255, 255, 255, 1);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-gap: 10px;

  .close-button {
    position: absolute;
    right: -5px;
    top: -5px;
    font-weight: 600;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border: none;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    svg {
      font-size: 20px;
    }

    &:hover {
      transform: scale(0.95);
    }

    &:active {
      transform: scale(0.85);
      transition: all linear 60ms;
    }
  }

  .header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    h5 {
      font-size: 1rem;
      color: rgba(76, 76, 76, 1);
      font-weight: 500;
    }

    .continents-clean-button {
      border: none;
      cursor: pointer;
      color: rgba(50, 135, 195, 1);
      background: none;
      font-size: 1rem;

      &, & * {
        transition: all linear 100ms;
      }

      &:hover {
        transform: scale(0.95);
      }

      &:active {
        transform: scale(0.85);
        transition: all linear 60ms;
      }
    }
  }
}